.modal{
    width: 80%;
    border: 1px solid;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    display: flex;
    padding: 0 80px;
    
    background-color: rgb(167, 137, 137);
    flex-direction: column;
    box-shadow: 2px 4px 4px black;
}
.modal button{
    padding: 10px;
    width: 10%;
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.modalText{
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}